*:focus{
    outline: transparent;
}
::selection{
    background: #eee;
}
html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
    background-color: #f2f2f2;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}
i{
    font-style: normal;
}
strong{
    font-weight: normal;
    color: #2c7a99;
    /* border-bottom: 1px solid #2c7a99; */
}